<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net451" />
  <package id="Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net451" />
</packages>